<a href="https://colab.research.google.com/github/ViniciusBrandao2/Repo01/blob/master/estrurep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if (10 > 2):
  print('execulta o codigo','é verdade')

In [1]:
if (10 > 2):
    print('verdadeiro')
else:
     print('falso')

verdadeiro

In [ ]:
if (10 == 11):
    print('10 nao é igual a 11'):
else:
  if (10 > 11):
    print('10 é maior do que 11'):
  else
    print('10 é nenor que 11'):

In [ ]:
x=10
y=11
z=5

if (x <= y or z < y):
  print('verdadeiro')
else:
  print('falso')

In [ ]:
idade = 18

if idade < 12:
  print('criança')
elif idade < 18:
  print('adolecente')
elif idade < 60:
  print('adulto')
else:
  print('idoso')

In [14]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# laço de repetiçao enquanto ou while

var = 1
while var < 11: # enquanto for verdadeira
  print(var)
  var + = 1

In [25]:
valor1 = input('digite o valor da tabuada')
for n in range(1,11):
  resultado=(n*valor1)
  print(resultado)

digite o valor da tabuada2
2
22
222
2222
22222
222222
2222222
22222222
222222222
2222222222

In [ ]:
# Programa Tabuada em Python
def tabuada(x):
    for cont in range(1,11):
        print('{0} x {1} = {2}'.format(x,cont,x*cont))

if __name__=='__main__':
    num = int(input('Digite um número: '))
    tabuada(num)

In [ ]:
numero = int(input("Digite um numero: "))
for c in range(1,11,):
    print(c ," * ",numero, " = ", c * numero)
    print("=" *20)
print("Calculadora fializada: ")

In [42]:
numero = int(input("Digite um numero: "))
for c in range(1,11):
  if (c+numero)%2==0:
    print(c ," * ",numero, " = ", c * numero)
    print("=" *20)
print("Calculadora fializada: ")

Digite um numero: 3
1  *  3  =  3
====================
3  *  3  =  9
====================
5  *  3  =  15
====================
7  *  3  =  21
====================
9  *  3  =  27
====================
Calculadora fializada:

In [ ]:
tabuada=int(input(digite qual o valor da tabuada))
for n in range(1,11)
  if (taboada*n)% 2==1:
  print(tabuada,"x",n,"=",tabuada*n)

In [ ]:
valor=0
soma=0
contador=0

while valor >= 0:
    valor = int(input('Digite o valor: '))
    if valor >= 0:
        contador += 1
        soma += valor
        
print('')
print('Soma dos valores..........:', soma)
print('Total de valores digitados:', contador)
print('Média dos valores.........:', soma/contador)

In [48]:
peso = 114
altura = 1.78
imc = peso/(altura*altura)

status = ''
if imc < 18.5:
    status = 'Abaixo do peso'
elif (imc > 18.5 and imc < 24.9):
    status = 'Peso normal'
elif (imc > 25 and imc < 29.9):
    status = 'Sobrepeso'
elif (imc > 30 and imc < 34.9):
    status = 'Obesidade grau 1'
elif (imc > 35 and imc < 39.9):
    status = 'Obesidade grau 2'
else:
    status = 'Obesidade grau 3'

print('Seu IMC é:', round(imc,2), "(", status, ")")

Digite o peso: 27,5
Digite a altura: 1,75

TypeError: ignored